<div class="header">
  <div class="content">
      <div class="logo left">
          <a  class="site_name" href="index.html">BusinessToday</a>
          <p class="description">Free Website Templates</p>
       </div>
       <div class="form_signup right">
           <p class="help_text">Sign Up to Our newsletter for the latest news,updates and offers</p>
           <div>
               <input type="text" name="name" placeholder="Entet Name..."/>
               <input type="text" name="email" placeholder="Entet Email..."/>
               <input class="submit_button" type="button" name="email" value="SIGN UP" placeholder="Entet Email..."/>
           </div>
       </div>
  </div>
</div>
<div class="nav_menu">
  <div class="content">
      <div class="menu left">
          <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" href="index2.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Style Demo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">DropDown</a>
              </li>
            </ul>
      </div>
      <div class="search right">
          <input class="input_txt" type="text" placeholder="Search Our Website"/>
          <input class="button" type="button" value="SEARCH"/>
      </div>
  
  </div>
</div>