<div class="footer">
  <div class="content">
  <div class="row">
    <div class="col">
      <h4>Client Login</h4>
      <h6>Clients can Login to their accounts here.</h6>
      <div class="inputs">
        <div class="left">
        <input type="text" placeholder="Enter Email">
        <input type="text" placeholder="Enter Password"/>
      </div>
      <div class="right">
        <input type="button"value=">>"/>
      </div>
      </div>
    </div>
  
    <div class="col">
      <h4>Lacus interdum</h4>
        <div><a class="links" href="">Link 1</a></div>
        <div><a class="links" href="">Link 1</a></div>
        <div><a class="links" href="">Link 1</a></div>
        <div><a class="links" href="">Link 1</a></div>

      
    </div>
  
    <div class="col">
      <h4>Lacus interdum</h4>
      <div><a class="links" href="">Link 1</a></div>
      <div><a class="links" href="">Link 1</a></div>
      <div><a class="links" href="">Link 1</a></div>
      <div><a class="links" href="">Link 1</a></div>
    </div>
  
    <div class="col">
      <h4>Lacus interdum</h4>
      <div><a class="links" href="">Link 1</a></div>
      <div><a class="links" href="">Link 1</a></div>
      <div><a class="links" href="">Link 1</a></div>
      <div><a class="links" href="">Link 1</a></div>
    </div>
  </div>
  
    </div>
  </div>